{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "function-paren-newline": "off",
    "no-confusing-arrow": "off",
    "newline-per-chained-call": "off",
    "indent": "off",
    "implicit-arrow-linebreak": "off",
    "no-undef": "off",
    "no-console": "error",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "prefer-template": "error",
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "no-return-assign": "off",
    "radix": "off",
    "no-mixed-operators": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTrailingComments": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "camelcase": [
      "error",
      {
        "allow": [
          "Iso639_1",
          "Iso3166_1"
        ]
      }
    ],
    "no-shadow": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "import/newline-after-import": "error",
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          [
            "builtin",
            "external"
          ],
          [
            "internal"
          ],
          [
            "sibling",
            "parent",
            "index",
            "object"
          ]
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "import/no-duplicates": [
      "error",
      {
        "considerQueryString": true
      }
    ],
    "object-shorthand": "error",
    "prefer-const": "error"
  }
}
